.table {
    margin: 0 2rem;
    ::ng-deep p-table {
        .p-button {
            border-radius: 50%;
            padding: 0.5rem;
        }
        .p-datatable .p-datatable-thead > tr > th {
            background-color: var(--purple-100);
        }
        .p-datatable .p-datatable-tbody > tr:hover {
            background-color: var(--purple-50);
        }
    }
}