/* You can add global styles to this file, and also import other style files */
@import './assets/styles/colours.scss';
h1 {
    text-align: center;
    font-weight: bold;
    color: var(--primary-hover);
    margin: 0;
}