/* You can add global styles to this file, and also import other style files */
@import './assets/styles/colours.scss';
h1 {
    text-align: center;
    font-weight: bold;
    color: var(--primary-hover);
    margin: 1rem 0 0;
}

.form-box {
    background-color: #e8e8e8;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    display: grid;

    label {
        padding: 0.5rem 0.5rem 0;
    }

    .p-dropdown {
        width: inherit;
        .p-dropdown-label {
            margin: 0 !important;
            font-size: 14px;
        }
        .p-dropdown-items {
            font-size: 14px;
        }
    }
    .p-inputtext {
        margin: 0.5rem;
        font-size: 14px;
    }
}

button:disabled {
    opacity: 0.5;
}

.p-confirm-dialog-reject {
    background-color: var(--text-color-secondary);
    border-color: var(--text-color-secondary);
    &:hover {
        background-color: var(--text-color) !important;
        border-color: var(--text-color) !important;
    }
}